#leftpanel{
    display: inline-flex;
    justify-content: start;
    flex-direction: column;
}

#totalcastoday{
    display: inline-block;
    padding: 1.4rem;
    background-color: #5aa7de
}

#highestsuburb{
    display: inline-block;
    padding: 1.4rem;
    background-color: #7dbae5
}

#highestmonth{
    display: inline-block;
    padding: 1.4rem;
    background-color: #9bcaeb
}

#highestday{
    display: inline-block;
    padding: 1.4rem;
    background-color: #b5d8f0;
}

#other{
    display: inline-block;
    padding: 1.4rem;
    background-color: #cce4f5;
}

#page{
    height: 100vh;
    overflow: hidden;
}

#contents{
    display: flex;
    flex-direction: row;
}